@font-face {
	font-family: "CustomHeadings";
	src: url(century_gothic.ttf);
}

html {
	height: 100%;
}

body {
 	background-repeat: no-repeat;
	margin: 0; 
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

section:after {
	content: "";
	display: table;
	clear: both;
}

h1,h2,h3 {
	font-family: "CustomHeadings";
	color: white;
}

article {
	background-color: lightgray;
	width: 70%;
	float: left;
}

header {
	background-image: url(https://i.gyazo.com/f3a3900e366193dbe69db2e8d05c05c0.gif);
	background-size: cover;
	background-color: black;
	background-position: 0 95%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15%;
}

.grayheading {
	font-size: 36px;
	text-align: left;
	background-color: gray;
	color: white;
}

#navdiv {
	width: 20%;
	float: left;
	align-content: left;
	font-family: "CustomHeadings";
	text-align: left;
	background-color: #000000;
	color: white;
	padding-top: 10px;
}

#footer {
	background-color: black;
	padding: 20px;
}

#content {
	flex: 1;
}

.black_div {
	background-color: black;
	padding-bottom: 2.5%;
	padding-top: 2.5%;
	margin-top: 15%;
}
