@font-face {
	font-family: "CustomHeadings";
	src: url(century_gothic.ttf);
}

html {
	height: 100%;
}

div {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(https://i.gyazo.com/f3a3900e366193dbe69db2e8d05c05c0.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	margin: 0; 
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

section:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 0;
}

h1,h2,h3 {
	font-family: "CustomHeadings";
	color: white;
}
.article_image {
	margin: 0%;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.g_heading {
	margin: 0;
	font-size: 36px;
	background-color: #BAADAD;
	color: white;
}

.two_columns {
	column-count: 2;
	margin: 0;
}

article {
	text-align: center;
	background-color: #877e7e;
	width: 100%;
	min-height: auto;
	margin: 0%;
}

header {
	background-color: #b5969600;
	background-position: 0 75%;
	text-align: center;
	font-size: 150%;
	padding-top: 20%;
	padding-bottom: 30%;
}

#footer {
	background-color: black;
	padding: 20px;
}

#content {
	flex: 1;
}

.black_div {
	background-color: black;
	padding-bottom: 2.5%;
	padding-top: 2.5%;
	margin-top: 15%;
}
