.footer {
  background-color: black;
  color: aliceblue;
}

.header {
  background-color: azure;
  color: rgb(7, 25, 37);
}

.body {
  margin-top: 0;
  background-color: rgb(245, 245, 245);
  color:rgb(7, 25, 37);
}